<div class="demo-header signed-in-header">
  <span class="header-logo">UI-Router Demo</span>
  <span class="header-hello">Hello {{ header.username }}!</span>
  <ul>
    <li>
      <a class="header-link" href="" ng-click="header.signOut()">Sign out</a>
    </li>

    <li>
      <a class="header-link" ui-sref="message">Message</a>
    </li>

    <li>
      <a class="header-link" ui-sref="picture_frame">Frame</a>
    </li>

    <li>
      <a class="header-link" ui-sref="postcards">Postcards</a>
    </li>

  </ul>
</div>