<div class="about-page">

    <h1>{{about.title}}</h1>

    <ui-view style="width: 100%"></ui-view>

    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">

        <div ui-tree-handle="" class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.nodes &amp;&amp; node.nodes.length > 0"
               data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
            {{node.title}}
            <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>-->
        </div>


        <!--<div ui-tree-handle>
            {{node.title}}
        </div>-->
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-show="!collapsed">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>

    <div ui-tree>
        <ol ui-tree-nodes="" ng-model="about.treeData" id="tree-root">
            <li ng-repeat="node in about.treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>

    <ul>
        <li ng-repeat="item in about.fakeData">{{item.name}}</li>
    </ul>

    <!-- start slipsum code -->

    <h2 ng-click="about.log()">Lorem ipsum dolor</h2>

    <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam
        non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet
        malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.
        Vestibulum et risus at mi ultricies sagittis quis nec ligula. Suspendisse dignissim dignissim luctus. Duis ac
        dictum nibh. Etiam id massa magna. Morbi molestie posuere posuere. </p>

    <h2>Integer elementum massa</h2>

    <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at
        magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam porttitor, erat sit amet venenatis luctus, augue libero ultrices quam, ut congue nisi risus
        eu purus. Cras semper consectetur elementum. Nulla vel aliquet libero. Vestibulum eget felis nec purus commodo
        convallis. Aliquam erat volutpat. </p>

    <h2>Nullam commodo neque</h2>

    <p>In facilisis scelerisque dui vel dignissim. Sed nunc orci, ultricies congue vehicula quis, facilisis a orci. In
        aliquet facilisis condimentum. Donec at orci orci, a dictum justo. Sed a nunc non lectus fringilla suscipit.
        Vivamus pretium sapien sit amet mauris aliquet eleifend vel vitae arcu. Fusce pharetra dignissim nisl egestas
        pretium. </p>

    <h2>Nullam commodo neque</h2>

    <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at
        magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam porttitor, erat sit amet venenatis luctus, augue libero ultrices quam, ut congue nisi risus
        eu purus. Cras semper consectetur elementum. Nulla vel aliquet libero. Vestibulum eget felis nec purus commodo
        convallis. Aliquam erat volutpat. </p>

    <h2>Proin suscipit luctus</h2>

    <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at
        magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam porttitor, erat sit amet venenatis luctus, augue libero ultrices quam, ut congue nisi risus
        eu purus. Cras semper consectetur elementum. Nulla vel aliquet libero. Vestibulum eget felis nec purus commodo
        convallis. Aliquam erat volutpat. </p>

    <h2>Nunc vehicula dapibus</h2>

    <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at
        magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam porttitor, erat sit amet venenatis luctus, augue libero ultrices quam, ut congue nisi risus
        eu purus. Cras semper consectetur elementum. Nulla vel aliquet libero. Vestibulum eget felis nec purus commodo
        convallis. Aliquam erat volutpat. </p>

    <h2>Integer elementum massa</h2>

    <p>Etiam aliquam sem ac velit feugiat elementum. Nunc eu elit velit, nec vestibulum nibh. Curabitur ultrices, diam
        non ullamcorper blandit, nunc lacus ornare nisi, egestas rutrum magna est id nunc. Pellentesque imperdiet
        malesuada quam, et rhoncus eros auctor eu. Nullam vehicula metus ac lacus rutrum nec fermentum urna congue.
        Vestibulum et risus at mi ultricies sagittis quis nec ligula. Suspendisse dignissim dignissim luctus. Duis ac
        dictum nibh. Etiam id massa magna. Morbi molestie posuere posuere. </p>

    <h2>Maecenas eu placerat</h2>

    <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at
        magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam porttitor, erat sit amet venenatis luctus, augue libero ultrices quam, ut congue nisi risus
        eu purus. Cras semper consectetur elementum. Nulla vel aliquet libero. Vestibulum eget felis nec purus commodo
        convallis. Aliquam erat volutpat. </p>

    <h2>Maecenas eu placerat</h2>

    <p>Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in placerat.
        Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in
        mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse
        feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et
        tortor sit amet orci consequat semper. Nulla non fringilla diam. </p>

    <h2>Donec malesuada vehicula</h2>

    <p>Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam
        commodo neque erat, vitae facilisis erat. Cras at mauris ut tortor vestibulum fringilla vel sed metus. Donec
        interdum purus a justo feugiat rutrum. Sed ac neque ut neque dictum accumsan. Cras lacinia rutrum risus, id
        viverra metus dictum sit amet. Fusce venenatis, urna eget cursus placerat, dui nisl fringilla purus, nec
        tincidunt sapien justo ut nisl. Curabitur lobortis semper neque et varius. Etiam eget lectus risus, a varius
        orci. Nam placerat mauris at dolor imperdiet at aliquet lectus ultricies. Duis tincidunt mi at quam condimentum
        lobortis. </p>

    <!-- please do not remove this line -->

    <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a></div>

    <!-- end slipsum code -->
    <h1>{{about.title}}</h1>
    <a ui-sref="about({aboutId: about.next()})">Next About Page</a> |
    <a ui-sref="about({aboutId: about.prev()})">Previous About Page</a>

    <br/>
</div>