<div class="store-container">
  <h1>Welcome to my Postcards Store!</h1>

  <form class="form-inline color-form">
    <label for="color">What is your favorite color?</label>
    <input id="color" class="form-control" ng-model="store.color" ng-change="store.updateColor()">
    <button class="btn btn-info" ng-click="store.saveColor()">Save</button>
  </form>
  <br/>

  <div class="product-list-container">
    <div class="list-inline">
      <button ui-sref="cities">Cities Postcards</button>
      <button ui-sref="picture_frame">Picture Frame</button>
      <button ui-sref="about">Message</button>
    </div>
  </div>

  <div ui-view class="product-container"></div>
</div>