<div class="auth-box sign-in-box">
  <h2>Sign In</h2>

  <div class="auth-flex">
    <form ng-submit="signin.signIn()">
      <fieldset>
      <input class="form-control" ng-model="signin.username" placeholder="username"><br/>
      <input class="form-control" type="password" ng-model="signin.password" placeholder="password">
      </fieldset>
      <br/>
      <button class="btn btn-success">GO!</button>
      <br/>
    </form>
  </div>

  <a ui-sref="sign_up">Not a member yet? Sign up</a>
</div>